<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.0.0-rc1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Owin.AutoStartup.Sources" version="0.6.5-alpha" targetFramework="net40" />
  <package id="Owin.AutoStartup.SystemWeb" version="0.6.5-alpha" targetFramework="net40" />
</packages>